{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: currency-ingress
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
    # If a host is defined, use it; otherwise, match any host
    - {{- if .Values.ingress.host }}
      host: {{ .Values.ingress.host }}
      {{- else }}
      host: ""
      {{- end }}
      http:
        paths:
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: backend-service
                port:
                  number: {{ .Values.backend.port }}

          - path: /()(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: frontend-service
                port:
                  number: {{ .Values.frontend.port }}

  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host | default "" }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
{{- end }}
